
/* This is defult system 0 */
*{
    margin: 0%;
    padding: 0%;
}


.menu-container{
background-color: rgb(20, 19, 19);
padding: 20px ;
color: white;
list-style: none;
display: flex;
align-items: center;
justify-content: space-around;

}

.menus{
    display: flex;
    
}

.item{
/* margin: 10px 10px 10px 10px; you can add it one time margin: 10px; */
margin-left: 10px;
 padding-left: 10px; 
 font-size: 18px;
 cursor: pointer;
}

/* hover use like this first select .item and : then hover */

.item:hover{
    color: blue;
}

.logo-photo{
    width: 120px;
}

.banner-img{
width: 300px;
}

.baner-container{
display: flex;
justify-content: space-around;
height: 100vh;
/* 100 vh means totall screen. no scrolling height. it's important to add height to add align-items */
align-items: center;
color: white;
background-image: url("./images/background.png"), linear-gradient(45deg, rgb(22, 9, 9), rgb(51, 50, 50));
background-position: center;
background-size: cover;
background-repeat: no-repeat;
}

.title{
font-size: 55px;
font-weight: bold;
}

.description{
font-size: 18px;
margin-top: 15px;
margin-bottom: 15px;

}

.btn{
    padding: 20px ;
background-color: red;
color: wheat;
border: none;
cursor: progress;
}
 .btn:hover{
    color: red;
    background-color: chartreuse;
 }

